.vs
/clase-uno/bin
/clase-uno/obj
/clase-dos/bin
/clase-dos/obj
/clase-tres-api-categoria/bin
/clase-tres-api-categoria/obj
/logs
/clase-cinco-api-autenticacion/bin
/clase-cinco-api-autenticacion/obj
/clase-cinco-biblioteca/bin
/clase-cinco-biblioteca/obj
/clase-seis-api-gateway/bin
/clase-seis-api-gateway/obj
/obj
